#section-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 10px;
    margin: 10px 15px;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}
#section-login .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 300px;
}
#section-login .content header,
#section-login .content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}
#section-login .content header .custom-title-2 {
    margin: 10px 0;
}
#section-login .content form .fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#cbx-remember-me {
    display: flex;
    gap: 5px;
}

#section-login footer, 
#section-login footer .custom-btn {
    width: 100%;
}

/* Responsive */
@media (max-width: 820px) {
    #section-login {
        margin: 120px 15px;
    }
    #section-login img {
        width: 400px;
    }    
}