#navbar-main {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#navbar-main .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
#navbar-main .title img {
    width: 60px;
}
#navbar-main .title h3 {
    font-size: 15px;
    font-weight: normal;
}
#navbar-main h1, h3 {
    margin: 0;
}
#navbar-main h1 {
    font-size: 35px;
    font-weight: bold;
    color: #1E548C;
    margin-left: 30px;
}